# Advanced Regular Expressions Lab

Complete the following set of exercises to solidify your knowledge of regular expressions.

In [28]:
import re

### 1. Use a regular expression to find and extract all vowels in the following text.

In [29]:
text = "This is going to be a sentence with a good number of vowels in it."

In [30]:
rule = '[aeiouAEIOU]' # MAKE IT BETTER
re.findall(rule, text)

['i',
 'i',
 'o',
 'i',
 'o',
 'e',
 'a',
 'e',
 'e',
 'e',
 'i',
 'a',
 'o',
 'o',
 'u',
 'e',
 'o',
 'o',
 'e',
 'i',
 'i']

### 2. Use a regular expression to find and extract all occurrences and tenses (singular and plural) of the word "puppy" in the text below.

In [31]:
text = "The puppy saw all the rest of the puppies playing and wanted to join them. I saw this and wanted a puppy of my own!"

In [32]:
rule = 'puppy|puppies'
re.findall(rule, text)

['puppy', 'puppies', 'puppy']

### 3. Use a regular expression to find and extract all tenses (present and past) of the word "run" in the text below.

In [33]:
text = "I ran the relay race the only way I knew how to run it."

In [34]:
rule = 'run|ran'
rule = 'r[au]n'
re.findall(rule, text)

['ran', 'run']

### 4. Use a regular expression to find and extract all words that begin with the letter "r" from the previous text.

In [35]:
rule = 'r\w+'
re.findall(rule, text)

['ran', 'relay', 'race', 'run']

### 5. Use a regular expression to find and substitute the letter "i" for the exclamation marks in the text below.

In [36]:
text = "Th!s !s a sentence w!th spec!al characters !n !t."

In [37]:
rule = '\!'
re.sub(rule,'i', text)

'This is a sentence with special characters in it.'

### 6. Use a regular expression to find and extract words longer than 4 characters in the text below.

In [38]:
text = "This sentence has words of varying lengths."

In [39]:
rule = ('\w{3}\w+')
re.findall(rule, text)

['This', 'sentence', 'words', 'varying', 'lengths']

### 7. Use a regular expression to find and extract all occurrences of the letter "b", some letter(s), and then the letter "t" in the sentence below.

In [40]:
text = "I bet the robot couldn't beat the other bot with a bat, but instead it bit me."

In [41]:
rule = 'b\w+t'
re.findall(rule, text)

['bet', 'bot', 'beat', 'bot', 'bat', 'but', 'bit']

### 8. Use a regular expression to find and extract all words that contain either "ea" or "eo" in them.

In [42]:
text = "During many of the peaks and troughs of history, the people living it didn't fully realize what was unfolding. But we all know we're navigating breathtaking history: Nearly every day could be — maybe will be — a book."

In [43]:
rule = '\w*ea\w*|\w*eo\w*'
re.findall(rule, text)

['peaks', 'people', 'realize', 'breathtaking', 'Nearly']

### 9. Use a regular expression to find and extract all the capitalized words in the text below individually.

In [44]:
text = "Teddy Roosevelt and Abraham Lincoln walk into a bar."

In [45]:
rule = '[A-Z]\w*'
re.findall(rule, text)

['Teddy', 'Roosevelt', 'Abraham', 'Lincoln']

### 10. Use a regular expression to find and extract all the sets of consecutive capitalized words in the text above.

In [46]:
rule = '[A-Z]\w* [A-Z]\w*'
re.findall(rule, text)

['Teddy Roosevelt', 'Abraham Lincoln']

### 11. Use a regular expression to find and extract all the quotes from the text below.

*Hint: This one is a little more complex than the single quote example in the lesson because there are multiple quotes in the text.*

In [47]:
text = 'Roosevelt says to Lincoln, "I will bet you $50 I can get the bartender to give me a free drink." Lincoln says, "I am in!"'

In [48]:
rule = "\""
re.findall(rule, text)

['"', '"', '"', '"']

### 12. Use a regular expression to find and extract all the numbers from the text below.

In [49]:
text = "There were 30 students in the class. Of the 30 students, 14 were male and 16 were female. Only 10 students got A's on the exam."

In [50]:
rule = '\d+'
re.findall(rule, text)

['30', '30', '14', '16', '10']

### 13. Use a regular expression to find and extract all the social security numbers from the text below.

In [51]:
text = """
Henry's social security number is 876-93-2289 and his phone number is (847)789-0984.
Darlene's social security number is 098-32-5295 and her phone number is (987)222-0901.
"""

In [52]:
rule = '\(\d{3}\)\d{3}\-\d{4}'
re.findall(rule, text)

['(847)789-0984', '(987)222-0901']

### 14. Use a regular expression to find and extract all the phone numbers from the text below.

In [53]:
rule = '\d{3}\-\d\d\-\d{4}'
re.findall(rule, text)

['876-93-2289', '098-32-5295']

### 15. Use a regular expression to find and extract all the formatted numbers (both social security and phone) from the text below.

In [54]:
rule = '\(\d{3}\)\d{3}\-\d{4}|\d{3}\-\d\d\-\d{4}'
re.findall(rule, text)

['876-93-2289', '(847)789-0984', '098-32-5295', '(987)222-0901']